body {
  font-family: "Roboto", sans-serif;
  font-family: "Ubuntu", sans-serif;
}
.wrapper {
  background: url(/img/background.png);
  background-size: cover;
  width: 1366px;
  height: 768px;
}

.header {
  width: 1028px;
  height: 61px;
  padding-top: 46px;
}
.conteiner {
  display: flex;
  padding-left: 161px;
  padding-right: 177px;
  width: 1028px;
  height: 61px;
}
.img {
  width: 53px;
  height: 53px;
  margin-left: 8px;
}
.logo-box {
  display: inline-flex;
  padding: 5px 0 9px 0;
  width: 180px;
  height: 50px;
}
.logo-box:hover {
  filter: invert(50%) sepia(100%) saturate(2004%) brightness(100%)
    hue-rotate(350deg) contrast(100%);
}
.logo-text {
  width: 95px;
  height: 30px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 29px;
  line-height: 29px;
  color: #ffffff;
  text-align: right;
  padding-left: 8px;
}
.logo-txt {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  color: #ffffff;
}

.contackt {
  display: flex;
  flex-direction: column;
  margin-left: 620px;
}
.mail-tel:hover {
  color: #f26522;
}
.mail-tel {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  color: #ffffff;
}
.tel {
  padding-left: 70px;
  padding-top: 19px;
}
.main {
  width: 1030px;
  height: 560px;
  padding-left: 161px;
  padding-right: 177px;
  margin-top: 65px;
}
.grid {
  width: 1030px;
  position: relative;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-row: 1fr 1fr;
}
.tours:hover a {
  color: #f26522;
}

.txt {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  align-items: center;
  text-align: center;
  color: #ffffff;
}
.text1 {
  padding-top: 20px;
}
.text2 {
  padding-top: 13px;
}
.text3 {
  padding-top: 20px;
}
.text4 {
  padding-top: 20px;
}
.text5 {
  padding-top: 20px;
}
.text6 {
  padding-top: 20px;
}
img {
  object-fit: cover;
}

.shopping {
  width: 300px;
  height: 270px;
  overflow: hidden;
  margin: 0 61px 40px 0;
}
.sightseeing {
  width: 300px;
  height: 270px;
  overflow: hidden;
  margin: 0 62px 0px 0;
}
.food {
  width: 300px;
  height: 275px;
  overflow: hidden;
  margin-bottom: 0px;
}
.bars {
  width: 300px;
  height: 270px;
  overflow: hidden;
  margin-bottom: 64px;
}
.art {
  width: 300px;
  height: 270px;
  overflow: hidden;
  margin-bottom: 63px;
}
.walking {
  width: 300px;
  height: 270px;
  overflow: hidden;
}
.footer {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  padding-top: 49px;
  padding-bottom: 12px;
  align-items: center;
  text-align: center;
  color: #ffffff;
}
.popup {
  position: absolute;
}
.popup1 {
  width: 295px;
  height: 55px;
  left: 3px;
  top: 165px;
  opacity: 0;
  transform: translateY(20px);
  transition: all 0.4s ease;
  overflow: hidden;
  background: #f26522;
}
.popup2 {
  width: 295px;
  height: 55px;
  left: 365px;
  top: 165px;
  opacity: 0;
  transform: translateY(20px);
  transition: all 0.4s ease;
  overflow: hidden;
  background: #f26522;
}
.popup3 {
  width: 295px;
  height: 55px;
  left: 727px;
  top: 165px;
  opacity: 0;
  transform: translateY(20px);
  transition: all 0.4s ease;
  overflow: hidden;
  background: #f26522;
}
.popup4 {
  width: 295px;
  height: 55px;
  left: 4px;
  top: 475px;
  opacity: 0;
  transform: translateY(20px);
  transition: all 0.4s ease;
  overflow: hidden;
  background: #f26522;
}
.popup5 {
  width: 295px;
  height: 55px;
  left: 364px;
  top: 475px;
  opacity: 0;
  transform: translateY(20px);
  transition: all 0.4s ease;
  overflow: hidden;
  background: #f26522;
}
.popup6 {
  width: 295px;
  height: 55px;
  left: 727px;
  top: 475px;
  opacity: 0;
  transform: translateY(20px);
  overflow: hidden;
  transition: all 0.4s ease;
  background: #f26522;
}
.tour-link:hover .popup {
  opacity: 1;
  transform: translateY(0);
}
.tour-link:hover .txt {
  color: #f26522;
}
.tour-link:hover .popup2 {
  opacity: 1;
  transform: translateY(0);
}
.tour-link:hover .popup3 {
  opacity: 1;
  transform: translateY(0);
}
.tour-link:hover .popup4 {
  opacity: 1;
  transform: translateY(0);
}
.tour-link:hover .popup5 {
  opacity: 1;
  transform: translateY(0);
}
.tour-link:hover .popup6 {
  opacity: 1;
  transform: translateY(0);
}
.shopping:hover {
  color: #f26522;
}

.from {
  display: flex;
  padding: 7px 0 8px 16px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 10px;
  align-items: center;

  color: #ffffff;
}
.price {
  padding: 8px 0 12px 16px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: #ffffff;
}
.view::after {
  content: ">";
  margin-left: 16px;
}
.view {
  position: absolute;
  left: 15px;
  top: 8px;
  padding: 15px 0 12px 128px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  display: flex;
  align-items: center;

  color: #ffffff;
}
.txt:hover {
  color: #f26522;
}
